html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    top: 0;
    width: 100%;
    position: fixed;
}

.container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}